@import 'theme';

.margin-left{
    margin-left: 15px;
}
.see-more-less{
    display: inline-block;
    color: $color5;
}
.see-more-less:hover{
    text-decoration: underline;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    color: #f3c231;
}
.margin-top{
    margin-top: 10px;
}
.highlight{
    color: white;
}
.caption{
    margin: 10px 0 0;
}