<div class="modal-background" *ngIf="show" (click)="show=false">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" (click)="stopPropagation($event)">
    <i class="fa fa-window-close-o" aria-hidden="true" (click)="show=false"></i>
    <p>{{caption}}</p>
    <input type="text" placeholder="First Name" required [(ngModel)]="name" name="name" autofocus #fname="ngModel" maxlength="10">
    <div [hidden]="!form.submitted || fname.valid" class="warning">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please enter your name
    </div>
    <input type="email" placeholder="Email" required [(ngModel)]="email" name="email" ngModel email #eMail="ngModel">
    <div [hidden]="!form.submitted || eMail.valid" class="warning">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please enter your email
    </div>
    <button type="submit" [innerHTML]="buttonText"></button>
  </form>
</div>