<div class="footer-container">
  <div class="social">
    Stay Connected
    <a href="http://www.facebook.com" title="Facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="http://www.facebook.com" title="Twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="http://www.facebook.com" title="Instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="http://www.facebook.com" title="Pinterest">
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    </a>
  </div>
  <div id="links">
    <a routerLink="/ultimatebodytransformation">About Us</a>
    <a routerLink="/ultimatebodytransformation">Contact Us</a>
    <a *ngIf="customerId" [routerLink]="['/preferences']" [queryParams]="{cid: customerId}">Email Preferences</a>
    <span *ngIf="!customerId" (click)="onShowSubscriptionForm.emit()">Sign Up</span>
    <a routerLink="/ultimatebodytransformation">Returns Policy</a>
  </div>
</div>