.carousel-container{
    width: 1364px;
    height: 300px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    position:relative;
    user-select: none;
    margin-bottom: 10px;
    a{
        position: absolute;
    }
}
.pagination-container{
    position: relative;
    display: table;
    margin:auto;
    top: 90%;
    cursor: default;
    ul{
        list-style: none;
        padding: 0;
        margin:0;
        li{
            display: inline-block;
            width: 10px;
            height: 10px;
        }
    }
}
.paginator{
    border-radius: 50%;
    margin: 0 10px 0 10px;
    display: inline-block;
    cursor: pointer;
}
.play{
    margin-top: -2px;
    width: 0 !important;
    height: 0 !important;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #666;
    cursor: pointer;
}
.pause{
    color: #f5f5f5;
    cursor: pointer;
    font-size: 13px;
}
.shadow{
    box-shadow: 0 0 1px rgba(0,0,0,.5), 1px 1px 3px rgba(0,0,0,.5);
}
@media screen and (max-width: 1364px) {
    .carousel-container{
        width: 100%;
        height: 300px;
    }
    img{
        width: 100vw;
        height: 300px;
        object-fit: cover;
    }
    .pagination-container{
        top: 20vw;
    }
}
@media screen and (max-width: 1024px) {
    .carousel-container{
        height: 280px;
    }
    img{
        height: 280px;
    }
}
@media screen and (max-width: 900px) {
    .carousel-container{
        height: 250px;
    }
    img{
        height: 250px;
    }
}
@media screen and (max-width: 700px) {
    .carousel-container{
        height: 200px;
    }
    img{
        height: 200px;
    }
}
@media screen and (max-width: 550px) {
    .carousel-container{
        height: 180px;
    }
    img{
        height: 180px;
    }
}
@media screen and (max-width: 460px) {
    .carousel-container{
        height: 150px;
    }
    img{
        height: 150px;
    }
}
@media screen and (max-width: 380px) {
    .carousel-container{
        height: 135px;
    }
    img{
        height: 135px;
    }
}
@media screen and (max-width: 320px) {
    .carousel-container{
        height: 125px;
    }
    img{
        height: 125px;
    }
}