<div class="carousel-container">
  <div [style.transition]="'all ' + speed + 's ' + curve" [style.transform]="'translateX(' + translate + '%)'" (transitionend)="transitionEnd()">
      <a *ngFor="let carouselImage of carouselImages" [href]="carouselImage.url" [style.left.%]="carouselImage.pos"><img [src]="'assets/images/carousel/' + carouselImage.name"></a>
  </div>
  <i class="arrow arrow-left" aria-hidden="true" (click)="onArrowClick(1)"></i>
  <i class="arrow arrow-right" aria-hidden="true" (click)="onArrowClick(-1)"></i>
  <div class="pagination-container">
      <ul>
          <li *ngFor="let paginator of carouselImages; let idx = index" class="paginator shadow" [style.background]="idx === index ? '#666' : '#f5f5f5'" (click)="onPaginatorClick(idx)"></li>
          <li (click)="onPlayClick()">
              <div class="play" *ngIf="!play" title="Play"></div>
              <i class="fa fa-pause pause shadow" aria-hidden="true" *ngIf="play" title="Pause"></i>
          </li>
      </ul>
  </div>
</div>