<div class="carousel-container">
    <div [style.transition]="'all ' + speed + 's ' + curve" [style.transform]="'translateX(' + translate + '%)'" (transitionend)="transitionEnd()">
        <a *ngFor="let carouselImage of carouselImages" [href]="carouselImage.url" [style.left.%]="carouselImage.pos">
            <img [src]="'assets/images/carousel/' + carouselImage.name">
        </a>
    </div>
    <arrows (onArrowClick)="onArrowClick($event)"></arrows>
    <paginator [pages]="carouselImages" [currentPage]="index" (onPaginatorClick)="onPaginatorClick($event)" [showPlay]="true"
        (onPlayClick)="onPlayClick()" [play]="play"></paginator>
</div>