$background-color: rgb(27, 27, 27);
$color1: #ab0395;
$color2: #550240;
$color3: #420033;
$color4: #1f0118;
$color5: #fa07de;

@mixin gradient($color...){
    background: nth(nth($color, 2), 1);
    // background: -webkit-gradient($color);
    background: linear-gradient($color);
}