<div class="filter-container" [ngClass]="{'padding' : showContent}">
  <div class="caption">{{caption}}</div>
  <!-- Arrow -->
  <div (click)="showContent = !showContent" class="arrow-container">
    <div class="arrow" [ngClass]="{'arrow-down' : showContent, 'arrow-right' : !showContent}"></div>
  </div>
  <!-- Content -->
  <div *ngIf="showContent">
    <div *ngFor="let option of options">
      <input type="checkbox" [checked]="option.checked" (change)="setFilter(option.name)">{{option.name}}
      <br>
    </div>
  </div>
</div>