@import 'theme';

.content-container {
    margin: 100px 10px;
}

.text {
    color: #d8d8d8;
    text-align: center;
}
.header {
    color: #ffba00;
    font-size: 60px;
    margin-top: 50px;
    font-weight: bold;
}
.text2 {
    font-size: 40px;
    margin-top: 30px;
}
.text3 {
    font-size: 30px;
}
.button-container {
    margin: auto;
    width: max-content;
    text-align: center;
}
button {
    margin: auto;
    display: block;
    margin-top: 20px;
}

@media screen and (max-width: 450px) {
    button{
        font-size: 18px;
    }
}
@media screen and (max-width: 360px) {
    button{
        font-size: 15px;
    }
}