<div class="background-container">
    <search-bar></search-bar>

  <h1>About Us</h1>
  <p>
    We are Niche Shack, a small but motivated company specializing in ebooks & more. As an affiliate of
    <a href="https://www.clickbank.com/">ClickBank</a>, we passionately believe in great deals and promote awesome products, which is why we are committed to
    giving you the best of both worlds.
  </p>

  <p>
    If you’re looking for something in your niche, you’ve come to the right place. Our customers are our top priority and through
    the products we promote, we work hard towards building long-lasting and meaningful relations with them.
  </p>
  <footer></footer>
</div>