<loading *ngIf="isLoading"></loading>
<div class="main-container">
  <div class="content-container">
    <img src="assets/ubt_ebook.png">
    <div class="text-container">
      <h1>
        “Winning The Weight Loss Fight: The Complete Guide That Tells You The Truth About Weight Gain, Weight Loss And What You Can
        Do To Choose The Perfect Weight Loss Plan!”
      </h1>
      <P>Ultimate Body Transformation will enable anyone to select a solid weight loss plan suitable for your individual needs
        without falling victim to "snake-oil" cures like diet pills and ridiculous fad diets.
      </P>

      <p>
        You’ll get a no-nonsense, no-fluff 32-page ebook of content on the truth about weight gain, weight loss and what you can
        do to choose the perfect plan to lose weight.
      </p>
      <b>
      <p>
        Interested in transforming your body? Good news—everything you'll need is here in one convenient ebook.
      </p>
    </b>
    </div>
  </div>
  <div class="bar">
    <p>Click below to get your FREE ebook that will transform your body and your life!</p>
    <button (click)="showForm = true">GET THE FREE EBOOK</button>
  </div>
</div>
<div class="modal-background" *ngIf="showForm" (click)="showForm=false">
  <form (ngSubmit)="onSubmit(ultimateForm)" #ultimateForm="ngForm" (click)="stopPropagation($event)">
    <i class="fa fa-window-close-o" aria-hidden="true" (click)="showForm=false"></i>
    <p>Enter your name and email below to get the Ultimate Body Transformation ebook!</p>
    <input type="text" placeholder="First Name" required [(ngModel)]="name" name="name" autofocus #fname="ngModel">
    <div [hidden]="!ultimateForm.submitted || fname.valid" class="warning">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please enter your name
    </div>
    <input type="email" placeholder="Email" required [(ngModel)]="email" name="email" ngModel email #eMail="ngModel">
    <div [hidden]="!ultimateForm.submitted || eMail.valid" class="warning">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please enter your email
    </div>
    <button type="submit">Yes! Send me the free ebook!</button>
  </form>
</div>