<div class="main-container">
  <div class="top-container">
    <div class="content-container">
      <div class="img-container">
        <img src="assets/ubt_ebook.png">
      </div>
      <div class="text-container">
        <h1>
          “Winning The Weight Loss Fight: The Complete Guide That Tells You The Truth About Weight Gain, Weight Loss And What You Can
          Do To Choose The Perfect Weight Loss Plan!”
        </h1>

        <P>Ultimate Body Transformation will enable anyone to select a solid weight loss plan suitable for your individual needs
          without falling victim to "snake-oil" cures like diet pills and ridiculous fad diets.
        </P>

        <p>
          You’ll get a no-nonsense, no-fluff 32-page ebook of content on the truth about weight gain, weight loss and what you can
          do to choose the perfect plan to lose weight.
        </p>

        <p style="font-weight: bold">
          Interested in transforming your body? Good news—everything you'll need is here in one convenient ebook.
        </p>
      </div>
    </div>
  </div>

  <div class="bar">
    <div class="bar-text">
      Click below to get your FREE ebook that will transform your body and your life!
    </div>
    <div class="button-container">
      <button>GET THE FREE EBOOK</button>
    </div>
  </div>
</div>