<div style="width: 100%; height: 525px; margin-top: 40px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
  <div style="width: 880px; height: 100%; margin: auto; display:flex; align-content:center; ">
    <div style="flex:1;">
      <img src="assets/ubt_ebook.png" style="width: 326px; margin: auto; display: block; margin-top: 30px">
    </div>
    <div style="flex:1.2; font-size: 17px">
      <h1 style="color: #07877a">
        The Truth About Weight Gain, Weight Loss And What You Can Do To Choose The Perfect Weight Loss Plan!
      </h1>
      <P>Ultimate Body Transformation will enable anyone to select a solid weight loss plan suitable for your individual needs
        without falling victim to "snake-oil" cures like diet pills and ridiculous fad diets.
      </P>
      <p>
        You’ll get a no-nonsense, no-fluff 32-page ebook of content on the truth about weight gain, weight loss and what you can
        do to choose the perfect plan to lose weight.
      </p>

      <p style="font-weight:bold">
        Interested in transforming your body? Good news—everything you'll need is here in one convenient ebook.
      </p>
    </div>
  </div>
</div>
<div style="height: 226px; background: #545454;">
  <div style="width: 100%; height: 40px; text-align:center; padding-top:20px; font-weight:bold; font-size:20px; color: white">
    Click below to get your FREE ebook that will transform your body and your life!
  </div>
  <div style="width:100%; height:100%; display:flex; justify-content:center; padding-top: 20px">
    <button style="height:87px; width: 574px; font-size: 24px; font-weight:bold; background: linear-gradient(rgb(7, 135, 122), rgb(5, 87, 79)); border:none; outline:none; color:white">GET THE FREE EBOOK</button>
  </div>
</div>