.products-slider-container{
    position: relative;
    width: 1364px;
    height: 550px;
    margin: auto;
    overflow: hidden;
}
.caption-container{
    width: 100%;
    height: 68px;
}
.caption{
    line-height: 68px;
    font-size: 22px;
    color: #505050;
    text-align: center;
}
.slider-container{
    position: relative;
    width: 100%;
    height: 332px;
}
.slider{
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    position: absolute;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    li{
        display: inline-block;
        margin: 0 10px 0 0;
        text-align: center;
        position: relative;
        max-width: 300px;
    }
}
@media screen and (max-width: 1364px) {
    .products-slider-container{
        width: 100%;
    }
}