.products-slider-container{
    position: relative;
    width: 1364px;
    height: 550px;
    margin: auto;
    overflow: hidden;
    // background: #e7e7e7;
}
.caption-container{
    width: 100%;
    height: 68px;
}
.caption{
    line-height: 68px;
    font-size: 22px;
    color: #505050;
    text-align: center;
}
.slider-container{
    width: 100%;
    height: 300px;
}
.slider{
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    position: absolute;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    li{
        display: inline-block;
        margin: 0 10px 0 0;
        text-align: center;
        position: relative;
        a{
            height: 300px;
            line-height: 300px;
            img{
                width:auto;
                height:auto;
                max-width: 300px;
                max-height: 300px;
                vertical-align: middle;
                min-width: 230px;
            }
        }
        
    }
}
.product-title{
    height: 32px;
    background: #940381;
    font-size:20px;
    color:rgb(230, 230, 230);
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    vertical-align:middle;
    padding: 0 10px 0 10px;
}
.product-description{
    overflow-y: auto;
    text-align: center;
    height: 130px;
    white-space: normal;
    padding: 10px;
    color: #171921;
    background: #f3f3f3;
}
.arrow{
    width: 34px;
    height: 52px;
    position: absolute;
    top: 42%;
    background: rgba(121, 121, 121, 0.7);
    overflow: hidden;
    cursor: pointer;
    img{
        width: 68px;
        position: relative;
        
    }
}
.arrow-left{
    img{
        left: 3px;
    }
}
.arrow-right{
    right: 0;
    img{
        left: -36px;
    }
}
.fa-play-circle{
    position: absolute;
    font-size: 60px;
    right: 0;
    margin-right: 3px;
    top: 34px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    color: #ce0505;
    border: 4px solid #6b0101;
    box-sizing: border-box;
}
.fa-play-circle:before {
    background: white;
    display: inline-block;
    width: 51px;
    height: 50px;
    border-radius: 50%;
}
.video-tag{
    background: #ce0505;
    height: 45px;
    position: absolute;
    right: 43px;
    top: 42px;
    line-height: 37px;
    font-size: 28px;
    color: white;
    border-radius: 10px;
    border: 4px solid #6b0101;
    box-sizing: border-box;
    font-weight: bold;
    padding: 0 20px 0 8px;
    user-select: none;
    cursor: default;
}