<div #container class="products-slider-container">
  <div class="caption-container">
    <div class="caption">{{caption}}</div>
  </div>
  <div class="slider-container">
    <div #slider class="slider" [style.transform]="'translateX(-' + translate + 'px)'">
      <ul #list>
        <li *ngFor="let product of products" [style.marginRight.px]="margin">
          <product [product]="product"></product>
        </li>
      </ul>
    </div>
    <arrows [showLeftArrow]="translate !== 0" [showRightArrow]="slider.offsetWidth > container.offsetWidth + margin && !lastPage" (onArrowClick)="onArrowClick($event, container.clientWidth, list.children)"></arrows>
  </div>
</div>