<!-- Temp select element to get width of categories select -->
<select #tmpSelect style="padding-left: 5px; position: absolute; visibility: hidden">
    <option [innerHtml]="selectedCategory.name"></option>
</select>
<div class="search-bar">
    <div class="category-menu-button" (mouseenter)="menu.showMenu = true" (mouseleave)="menu.showMenu = false" (click)="menu.showMenu = !menu.showMenu">
        <i class="fa fa-bars" aria-hidden="true" style="margin-right: 8px"></i>
        Categories
        <menu #menu></menu>
    </div>
    <div class="search-container">
        <div class="category-select-container">
            <select [style.width.px]="tmpSelect.offsetWidth" [(ngModel)]="selectedCategory">
                <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
            </select>
        </div>
        <div class="input-container">
            <input type="text" placeholder="Search">
        </div>
        <div class="button-container">
            <button class="search-button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>