<div class="container" *ngIf="searchBarService.searchBar.categories.length > 0">
    <div class="caption" [innerHtml]="(showFeatured ? 'Featured Categories' : 'All Categories')"></div>
    <div class="category" *ngFor="let category of (showFeatured ? searchBarService.searchBar.featuredCategories : searchBarService.searchBar.categories)" (click)="onClick(category.id)">
        <img *ngIf="category.icon" src="/Images/{{category.icon}}" height="170" width="170">
        <div class="title">{{category.name}}</div>
    </div>
    <div class="toggle-categories" (click)="showFeatured = !showFeatured" [innerHtml]="(showFeatured ? 'Show All Categories' : 'Show Featured Categories')"></div>
</div>