@import 'theme';

.content{
    width: 600px;
    margin: auto;
    margin-top: 80px;
    color: #cecece;
    font-size: 18px;
}
.thanks{
    font-size: 25px;
    font-weight: bold;
    color: $gold;
}
hr{
    height: 3px;
    background: #545454;
    border: none;
}
ul{
    padding-left: 15px;
}
@media screen and (max-width: 600px) {
    .content{
        width: 90vw;
    }
}