@import 'theme';

.hop-link{
    height: 300px;
    line-height: 300px;
    cursor: pointer;
    img{
        width:auto;
        height:auto;
        max-width: 300px;
        max-height: 300px;
        vertical-align: middle;
        min-width: 230px;
    }
}
.product-name{
    height: 32px;
    @include gradient($color1, $color2);
    font-size:20px;
    color:rgb(230, 230, 230);
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    vertical-align:middle;
    padding: 0 10px 0 10px;
}
.product-description{
    text-align: center;
    white-space: normal;
    padding: 10px;
    color: #ffffff;
    @include gradient($color3, $color4);
    height: 92px;
    overflow: auto;
}