<div class="filter-container" [ngClass]="{'padding' : showContent}">
  <div class="caption">{{caption}}</div>
  <!-- Arrow -->
  <div (click)="showContent = !showContent" class="arrow-container">
    <div class="arrow" [ngClass]="{'arrow-down' : showContent, 'arrow-right' : !showContent}"></div>
  </div>
  <!-- Content -->
  <div *ngIf="showContent">
    $
    <input style="margin: 0 2px 0 2px; width: 40px; border-radius: 4px"> to $
    <input style="margin: 0 2px 0 2px; width: 40px; border-radius: 4px">
    <button style="height: 30px;
    padding: 0 4px;
    font-size: 16px;margin: 0 0 0 10px;" type="submit">Go</button>
    <div *ngFor="let option of options">
      <checkbox [label]="option.name" [checked]="option.checked" (change)="filterService.setFilter(caption, option.name)"></checkbox><span class="count">({{option.productCount}})</span>
    </div>


  </div>
</div>