<div class="filter-container" [ngClass]="{'padding' : showContent}">
  <div class="caption">{{caption}}</div>
  <!-- Arrow -->
  <div (click)="showContent = !showContent" class="arrow-container">
    <div class="arrow" [ngClass]="{'arrow-down' : showContent, 'arrow-right' : !showContent}"></div>
  </div>
  <!-- Content -->
  <div *ngIf="showContent">
    $
    <input style="margin: 0 2px 0 2px; width: 40px; border-radius: 4px"> to $
    <input style="margin: 0 2px 0 2px; width: 40px; border-radius: 4px">
    <button style="height: 30px;
    padding: 0 4px;
    font-size: 16px;margin: 0 0 0 10px;" type="submit">Go</button>
    <div style="margin-top: 15px;">
      <div>
        <label class="checkbox-container">0 - $10
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <label class="checkbox-container">$10 - $20
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>


    </div>


  </div>
</div>