<div class="background-container">
  <search-bar></search-bar>

  <!-- No match -->
  <div *ngIf="totalProducts === 0" class="no-match-container">
    <div>
      <i class="fas fa-exclamation-circle"></i>Sorry, no products matched "{{query}}"
    </div>
    <ul>
      <li>Check your spelling</li>
      <li>Use different keywords and try again</li>
    </ul>
  </div>

  <div *ngIf="totalProducts > 0" style="margin-bottom: 110px; ">
    <!-- Results -->
    <div class="results-container">
      <div class="results-display" [ngClass]="{'display-none': isSortFilter}">{{results}}</div>

      <!-- Sort -->
      <div class="dropdown-container sort-dropdown" [ngClass]="{'display-inline': isSortFilter}">
        <select [(ngModel)]="selectedSortOption" (change)="filterService.setQueryParameters([{name: 'sort', value: selectedSortOption.value}], ['page'])">
          <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">{{sortOption.name}}</option>
        </select>
      </div>

      <!-- Per Page -->
      <div class="dropdown-container" style="right: 200px;">
        <select [(ngModel)]="productsPerPage" (change)="filterService.setQueryParameters([{name: 'limit', value: productsPerPage}], ['page'])">
          <option *ngFor="let perPageOption of perPageOptions" [ngValue]="perPageOption">{{perPageOption}} Products Per Page</option>
        </select>
      </div>
      <button class="sort-filter-button" (click)="isSortFilter = !isSortFilter" [innerHtml]="isSortFilter ? 'Done' : 'Sort & Filter'"></button>
    </div>


    <div class="filters-products-container">
      <!-- Filters -->
      <div class="filters-container" [ngClass]="{'display-block': isSortFilter}">
        <category-filter [categories]="categories" [caption]="'Categories'"></category-filter>

        <div *ngFor="let filter of filters; trackBy:trackFilter">
          <!-- Price Filter -->
          <price-filter #priceFilter *ngIf="filter.caption == 'Price'" [caption]="filter.caption" [options]="filter.labels">
            <price-filter-content [parent]="priceFilter">
              <filter-options [parent]="priceFilter"></filter-options>
            </price-filter-content>
          </price-filter>

          <!-- Checkbox Filter -->
          <checkbox-filter #checkboxFilter *ngIf="filter.caption != 'Price'" [caption]="filter.caption" [options]="filter.labels">
            <filter-options [parent]="checkboxFilter"></filter-options>
          </checkbox-filter>
        </div>
      </div>

      <!-- Products -->
      <div class="products-container" [ngClass]="{'display-none': isSortFilter}">
        <ul>
          <li *ngFor="let product of products; trackBy:trackProduct">
            <product [product]="product"></product>
          </li>
        </ul>

        <!-- Pages -->
        <div *ngIf="pages > 1" class="pages-container">
          <div class="page-numbers">
            <ul>
              <li *ngFor="let number of pageList" (click)="onPageClick(number)" [ngClass]="{'selected-page': page == number, 'default-cursor': number == '...'}">{{number}}</li>
            </ul>
          </div>
          <arrows [showLeftArrow]="page > 1" [showRightArrow]="page < pages" (onArrowClick)="onArrowClick($event)"></arrows>
        </div>

      </div>
    </div>



  </div>
  <footer></footer>
</div>