<div class="background-container">
  <search-bar></search-bar>
  <div style="width: 1700px; margin: auto; margin-top:80px;">
    <div style="color: white;
    margin-left: 20px;">Showing 1-40 of 4,645,710 results</div>
    <ul style="list-style: none;
padding: 0;
margin: 0;">
      <li *ngFor="let product of products" style="display:inline-block; margin: 20px">
        <product (onShowSubscriptionForm)="subscriptionForm.show = true" [product]="product"></product>
      </li>
    </ul>
  </div>
  <subscription-form #subscriptionForm></subscription-form>
</div>