<div class="main-container" [style]="mainStyle" *ngIf="mainStyle">
  <div class="content-container">
    <img src="assets/images/leads/{{image}}">
    <div class="text-container" [innerHTML]="text" [style]="textStyle"></div>
  </div>
  <div class="bar" [style]="barStyle" >
    <p [innerHTML]="barText"></p>
    <button (click)="subscriptionForm.show = true" [innerHTML]="buttonText" [style]="buttonStyle"></button>
  </div>
</div>
<leads-subscription-form #subscriptionForm [caption]="caption" [buttonText]="formButtonText" [leadMagnet]="leadMagnet" [nicheId]="nicheId"></leads-subscription-form>