<div (click)="windowService.close()" [style.display]="windowService.display">
  <div class="player-background">
    <div class="window">
      <div class="title-bar" (click)="stopPropagation($event)">
          <div [innerHtml]="windowService.title" class="title"></div>
          <div class="close-button" (click)="windowService.close()"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
      <div class="video-container" (click)="stopPropagation($event)">
        <iframe [src]="windowService.currentUrl" frameborder="0" ></iframe>
        <arrows [showLeftArrow]="windowService.currentIndex != 0" [showRightArrow]="windowService.currentIndex != windowService.urlsCount - 1" (onArrowClick)="windowService.showNextVideo($event)"></arrows>
      </div>
    </div>
  </div>
</div>