<div (click)="windowService.close()" [style.display]="windowService.display">
  <div class="player-background">
    <div class="window">
      <div class="title-bar" (click)="stopPropagation($event)">
          <div [innerHtml]="windowService.title" class="title"></div>
          <div class="close-button" (click)="windowService.close()"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
      <div class="video-container" (click)="stopPropagation($event)">
        <iframe [src]="windowService.currentUrl" frameborder="0" ></iframe>
          <!--Arrow Buttons-->
          <div *ngIf="windowService.currentIndex != 0" class="img-arrow-circle img-arrow-circle-left" (click)="windowService.showNextVideo(-1)" >
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div *ngIf="windowService.currentIndex != windowService.urlsCount - 1" class="img-arrow-circle img-arrow-circle-right" (click)="windowService.showNextVideo(1)" >
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        
      </div>
    </div>
  </div>
</div>